<!-- home.html -->
{% extends "base_etudiant.html" %} {% block content %}
<div class="container col-md-12 col-auto" style="padding-top: 50px">
    <div class="form-row">
        <div class="form-group col-md-12">
            <h1 style="text-align: center;">Liste des séances</h1>
        </div>
    </div>
    <div class="form-row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">H début</th>
                    <th scope="col">H fin</th>
                    <th scope="col">N_Salle</th>
                    <th scope="col">Objectif</th>
                    <th scope="col">Module</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for s in seances %}
                <tr>
                    <td>{{s.heure_debut}}</td>
                    <td>{{s.heure_fin}}</td>
                    <td>{{s.numero_salle}}</td>
                    <td>{{s.objectif}}</td>
                    <td>{{s.module.nom}}</td>
                    <td><a class="btn btn-sm btn-primary" href="{% url 'detail_seancee' s.identifiant %}">detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}