<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>How to consume RESTful APIs with Django</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <a class="navbar-brand me-2" href="#">
                <h4>E-learning</h4>
            </a>
    </nav>
    <div class="container" style="padding-top: 100px; padding-bottom: 40px;">
        <div class="row">
            <div class="col-md-7 offset-md-3">
                <hr>
                <hr>
                <h1 style="text-align: center;">Platforme de E-learning</h1>
                <hr>
                <hr>
                <h2 style="text-align: center;">Vous êtes ?</h2>

                <div class="col-md-12 text-center" style="padding-top: 50px; padding-bottom: 100px;">
                    <a type="button" class="btn btn-primary" href="/etudiant/login">Etudiant</a>
                    <a type="button" class="btn btn-primary" href="/enseignant/login">Enseignant</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-dark" href="#">E_learning</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>

</html>