<!-- home.html -->
{% extends "base_dash.html" %} {% block content %}

<div class="row mt-3 pt-3">
    <div class="col-md-4">
        <div class="border p-3 shadow">
            <h3>Taux des travails rendus</h3>
            <hr>
            <p>Choisir selon quoi vous voulez visualiser le taux de travailR</p>
            <form method="post" action="">
                {% csrf_token %}
                <label for="inputGroupe" class="form-label">Par Module</label>
                <select id="inputNomModule" name="inputNomModule" class="form-control">
                    <option selected disabled>Choose...</option>
                    {% for module in modules %}
                      <option value='{{module.id}}'>{{module.nom}}</option>  
                    {% endfor %}
                  </select>
                <label for="inputGroupe" class="form-label">Par Groupe</label>
                <select id="inputNomGroupe" name="inputNomGroupe" class="form-control">
                      <option selected disabled>Choose...</option>
                      {% for groupe in groupes %}
                        <option value='{{groupe.identifiant}}'>{{groupe.nom}}</option>  
                      {% endfor %}
                    </select>
                <label for="inputGroupe" class="form-label">Par etudiant</label>
                <select id="inputNomEtudiant" name="inputNomEtudiant" class="form-control">
                        <option selected disabled>Choose...</option>
                        {% for etudiant in etudiants %}
                          <option value='{{etudiant.id}}'>{{etudiant.nom}}</option>  
                        {% endfor %}
                      </select>
                <hr>
                <button type="submit" class="btn btn-success">Submit</button> </form>
        </div>
    </div>
    <div class="col-md-8">
        <canvas id="myChart" width="400" height="250"></canvas>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const data = {{datas|safe}};
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['terminé', 'non terminé'],
                    datasets: [{
                        label: '# of Votes',
                        data: data,
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 1, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</div>

{% endblock content %}